<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproject.mapper.menu.MenuMapper">

    <sql id="findMenu">
        <where>
            <if test="upperCd != null">
                AND upper_cd = #{upperCd}
            </if>
            <if test="upperCd == null">
                AND upper_cd = 'TOP'
            </if>
        </where>
    </sql>

    <select id="find" parameterType="menuEntity" resultType="menuEntity">
        select menu_cd,
        menu_cd_name,
        cost
        from TBL_MENU
        <include refid="findMenu"></include>
    </select>

    <select id="findOption" resultType="menuEntity">
        select menu_cd,
               menu_cd_name
        from TBL_MENU
        where upper_cd = 'OPTION'
    </select>


    <insert id="saveCart" parameterType="cartEntity">
        INSERT INTO TBL_CART (order_num, menu_cd, menu_cd_name, cost, option_yn)
        VALUES (#{orderNum}, #{menuCd}, #{menuCdName}, #{cost}, #{optionYn})
    </insert>

    <insert id="saveOptionCart" parameterType="cartOptionEntity">
        INSERT INTO TBL_CART (order_num, menu_cd, menu_cd_name, cost, option_yn)
        VALUES (#{orderNum}, #{menuCd}, #{menuCdName}, #{cost}, #{optionYn})
    </insert>

    <resultMap id="cartTotal" type="cartTotalEntity">
        <result column="ORDER_NUM" property="orderNum"/>
        <result column="TOTAL" property="totalCost"/>
        <collection property="selectMenu" ofType="CartMenuEntity">
            <result property="cartSeq" column="CART_SEQ"/>
            <result property="menuCd" column="MENU_CD"/>
            <result property="menuCdName" column="MENU_CD_NAME"/>
            <result property="cost" column="COST"/>
            <result property="optionYn" column="OPTION_YN"/>
        </collection>
    </resultMap>

    <select id="findCartList" resultMap="cartTotal">
        select
            c.cart_seq,
            c.order_num,
            c.menu_cd,
            c.menu_cd_name,
            c.cost,
            c.option_yn,
            t.TOTAL
        from TBL_CART c
        inner join (
            select order_num, SUM(cost) as TOTAL
            from tbl_cart
            group by order_num
        ) t on c.order_num = t.order_num
        where c.order_num = #{orderNum}
    </select>

    <delete id="deleteMenuList" parameterType="integer" >
        DELETE FROM tbl_cart WHERE cart_seq = #{seq}
    </delete>

</mapper>